name: CI

on:
  push:
    branches: [main]
  pull_request:

jobs:
  ci:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
      - uses: astral-sh/setup-uv@v7

      - name: Install
        run: uv sync --extra dev

      - name: Lint
        run: make lint

      - name: Test
        run: make test
