name: CI

on:
  push:
    branches: [main]
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  ci:
    runs-on: macos-26

    steps:
      - uses: actions/checkout@v6

      - uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          python-version: "3"

      - name: Install
        run: uv sync --extra dev

      - name: Lint
        run: make lint

      - name: Build
        run: uv build

      - name: Test
        run: make test
